.cards__container {
    margin: 0 auto;
    margin: 50px 0 45px;
    text-align: center;
}

.cards__list {
    display: inline;
} 

.cards__item {
    display: inline;
    margin: 2px;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    transition: all 0.2s linear;
    display: inline-block;
    border-radius: 10px;
}

.cards__item:hover {
   transform: scale(1.01); 
}

.cards__item__link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards__item__img {
    float: left;
    height: 300px;
    width: 300px;
    object-fit: cover;
    transition: all 0.2s linear;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cards__item__text {
    color: #252e48;
    font-size: 16px;
    max-width: 300px;
    padding: 5px;
    text-align: left;
}